body {
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  font-family: 'Droid Sans', arial, helvetica, sans-serif;
}

a {
  color: #0776A0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.font1 {
  font-family: 'Droid Sans', arial, helvetica, sans-serif
}

.font2 {
  font-family: 'Ubuntu', arial, serif;
}

hr {
  margin: 1.0em 0px;
  border: 0px;
  border-bottom: 1px solid #757575;
}

h1 {
  border-bottom: 4px double #757575;
  font-family: 'Ubuntu', arial, serif;
  padding: 0.3em 0px 0.1em 0px;
  margin: 0px 0px 0.3em 0px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', arial, serif;
  margin: 0px;
  padding: 0.3em 0px;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

#print {
  display: none;
}

#mainWrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#63dc8f), to(#fff));
  background: -moz-linear-gradient(top,  #63dc8f,  #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63dc8f', endColorstr='#ffffff');
}

#mainContent {
  width: 960px;
  margin: 0px auto;
}

#footer {
  font-size: 0.7em;
  text-align: center;
  padding: 40px 0px 20px 0px;
}

#footer p {
  margin: 0.5em 0px;
}

.clear {
  clear: both;
}

ul.eform {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.eform li {
  float: left;
  margin: 5px 15px 5px 0px;
}

ul.eform li.num {
  padding: 0.8em 0px 0px 0px;
}

ul.eform li label {
  display: none;
}

label img {
  vertical-align: middle;
  margin: -4px 0px 0px 0px;
}

ul.eform.first li label {
  display: block;
  font-weight: bold;
}

input[type="submit"], input[type="button"], select {
  font-size: 1.6em;
  padding: 0.1em 0.3em;
}

input[type="text"] {
  font-size: 1.6em;
  padding: 0.1em 0.3em;
  width: 300px;
}

.large {
  font-size: 1.6em;
}

input.tpicker {
  width: 145px;
}

div.message {
  padding: 0.5em 0px;
  text-align: center;
  color: #d9005b;
  font-weight: bold;
  font-family: 'Ubuntu', arial, serif;
}

.error {
  color: #d9005b;
  font-size: 0.8em;
  margin: 3px 0px;
}

.errorlist {
  display: none;
}

.checkin_search {
  text-align: center;
}


ul.notype {
  list-style-type: none;
}

.choose li a {
  display: block;
  margin: 0.5em 0.3em;
  padding: 0.1em 0.3em;
  font-size: 1.6em;
  border: 1px solid #00782e;
  background-color: #63dc8f;
}

.choose li a span {
  display: block;
  float: right;
}

.choose2 li {
  margin: 15px 0px;
}

.choose2 li label {
  text-align: left;
  width: 50%;
}

.events_sel label {
  margin-right: 15px;
}

form .small {
  font-size: 0.8em;
  font-style: italic;
}

#mainWrapper.touch {
  overflow: auto;
}

table.form {
  border-collapse:collapse;
  border: 0px;
  width: 95%;
  margin: 0px auto;
}

table.form td {
  padding: 0px 0px 20px 0px;
}

table.form input {
  margin: 0px 30px 0px 0px;
}

table.form h3 {
  padding: 0px;
}

table.form #id_allergies {
  width: 600px;
}

table.form .group label {
  float: left;
  margin: 0px 30px 20px 0px;
  text-align: left;
  width: 350px;
}

.new {
  margin-top: 15px;
}