body {
  font-family: 'Ubuntu', arial, serif;
}

#print {
  display: block;
}

#mainWrapper {
  display: none;
}

hr {
  border: 0px;
  border-bottom: 1px solid #000;
}

.break {
  page-break-before: always;
}

.citag {
  padding: 10px;
}

.citag .name {
  font-size: 1.6em;
}

.citag .clabel {
  font-size: 1.5em;
}

.citag .clabel span {
  font-size: 0.5em;
}

.citag .groups {
  font-size: 1.0em;
}

.citag .alg {
  font-size: 0.8em;
  padding-top: 8px;
}

.codetag table {
  width: 100%;
  height: 185px;
  border: 0px;
  border-collapse: collapse;
}

.codetag .c {
  width: 48%;
  text-align: center;
  vertical-align: middle;
  font-size: 2.0em;
}

.codetag .c span {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);	
  display: block;
}

.codetag .vr {
  width: 4%;
  text-align: center;
  vertical-align: middle;
}

.codetag .vr img {
  width: 2px;
  height: 100%;
}
