{% extends "master.html" %}{% load thumbnail %}
{% block title %}Add Person{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ MEDIA_URL }}js/modal/css/basic.css" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/modal/js/jquery.simplemodal.js"></script>
{% endblock %}
{% block content %}
<h1>Add Household</h1>
<form action="./" method="post" autocomplete="off">
  {% csrf_token %}
  <input type="hidden" name="goback" value="{{ goback }}"/>
  {{ form.image_temp }}
  <table class="form">
    <tr>
      <td>
        <h3>Household Name</h3>
        {{ form.name }}
        {% if form.name.errors %}<br/><span class="error">{{ form.name.errors.0 }}</span>{% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Barcode <em>(optional)</em></h3>
        {{ form.barcode }}
        {% if form.barcode.errors %}<br/><span class="error">{{ form.barcode.errors.0 }}</span>{% endif %}
      </td>
    </tr>
    <!--<tr>
      <td colspan="2">
        <hr/>
        <input type="button" name="pic" value="Take Picture" onclick="iframe_pic()"/>
        <script type="text/javascript">
          function iframe_pic () {
            $.modal(
              '<iframe src="{% url cs_temp_image %}" height="460" width="640" scrolling="no" style="border:0; margin: 0px auto;"></iframe>', 
              {containerCss:{
                backgroundColor:"#fff",
                borderColor:"#fff",
                height:480,
                padding:0,
                width:660
              }}
            );
          }
        </script>
        <br/><br/>
        <img src="{% thumbnail form.instance.image "250x250" as thumb %}{{ thumb.url }}{% empty %}{{ MEDIA_URL }}img/no_image.png{% endthumbnail %}" alt="" id="temp640" style="width: 250px;"/>
        <hr/>
      </td>
    </tr>-->
    <tr>
      <td>
        <input type="submit" value="Next" name="task"/>
        <input type="button" value="Cancel" name="task" onclick="location.href='{{ goback }}'"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
