<div class="citag{% if code %} code{% endif %}">{% load cstags %}
  <div class="name">
    {{ ci.person.fname }} {{ ci.person.lname }}
  </div>
  <hr/>
  {% if ci.code %}
  <div class="clabel">
  {{ ci.code }}{% if ci.person.bdate %}<span>&nbsp; -&nbsp; B-Day: {{ ci.person.bdate|date:"m/d/Y" }}</span>{% endif %}
  </div>
  {% endif %}
  <div class="groups">{% for g in ci|get_groups %}{{ g.name }}{% if g.room %}: {{ g.room.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
  {% if ci.person.allergies %}
  <div class="alg">
    Allergies: {{ ci.person.allergies }}
  </div>
  {% endif %}
</div>