<div class="citag{% if code %} code{% endif %}">{% load cstags %}
  <div class="name">
    {{ ci.person.fname }} {{ ci.person.lname }}
  </div>
  <hr/>
  {% if ci.code %}
  <div class="clabel">
  {{ ci.code }}{% if ci.person.bdate and ci.person.is_minor %}<span>&nbsp; -&nbsp; Birthday: {{ ci.person.bdate|date:"m/d/Y" }}</span>{% endif %}
  </div>
  {% endif %}
  <div class="groups">{% for evg in ci|get_groups %}{{ evg.group.name }}{% if evg.room %}: {{ evg.room.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
  {% if ci.person.allergies %}
  <div class="alg">
    Allergies: {{ ci.person.allergies }}
  </div>
  {% endif %}
  {% if ci.pager %}
  <div class="alg">
    Pager: {{ ci.pager }}
  </div>
  {% endif %}
</div>