{% extends "master.html" %}{% load cstags %}
{% block title %}Edit Person{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ MEDIA_URL }}js/modal/css/basic.css" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/modal/js/jquery.simplemodal.js"></script>
{% endblock %}
{% block content %}
<h1 class="logo">Edit Person - {{ p.fname }} {{ p.lname }}{% if 'LOGO'|get_config %}<img src="{{ MEDIA_URL }}{{ 'LOGO'|get_config }}" alt=""/>{% endif %}</h1>
<div class="clear"></div>
{% include "checkin/person_form.html" %}
{% endblock %}
