{% extends "master.html" %}
{% block title %}Check In{% endblock %}
{% block content %}
<h1>{{ h.name }} Household</h1>
<form action="./" method="post" autocomplete="off">
  {% csrf_token %}
  {% if events.count > 1 %}
  <h2>Which events are you checking in for?</h2>
  <div class="events_sel">
  {% for e in events %}
    <input type="checkbox" id="check_e{{ forloop.counter }}" checked="checked"/>
    <input type="hidden" name="events" id="check_e{{ forloop.counter }}_hidden" value="{{ e.id }}"/>
    <label onclick="toggle_check('check_e{{ forloop.counter }}', '{{ e.id }}')" for="check_e{{ forloop.counter }}" id="check_e{{ forloop.counter }}_label">
      <img src="{{ MEDIA_URL }}img/checked.png" alt=""/> {{ e.name }}
    </label>
  {% endfor %}
  </div>
  <hr/>
  {% else %}
  <input type="hidden" name="events" value="{{ events.0.id }}"/>
  {% endif %}
  <h2>Pager:</h2>
  <input type="text" name="pager" id="pager" value=""/>
  <hr/>
  <h2>Who are you checking in?</h2>
  <ul class="choose2 notype">
    {% for p in h.checkable %}
    <li>
      <input type="checkbox" id="check_{{ forloop.counter }}" checked="checked"/>
      <input type="hidden" name="peeps" id="check_{{ forloop.counter }}_hidden" value="{{ p.id }}"/>
      <label onclick="toggle_check('check_{{ forloop.counter }}', '{{ p.id }}')" for="check_{{ forloop.counter }}" id="check_{{ forloop.counter }}_label">
        <img src="{{ MEDIA_URL }}img/checked.png" alt=""/> {{ p.fname }} {{ p.lname }}
      </label><span class="large">&nbsp;&nbsp;&nbsp;&nbsp; 
      Extra Labels: </span><select name="{{ p.id }}_extra_labels">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </li>
    {% endfor %}
  </ul>
  <hr/>
  <input type="submit" name="task" value="Check In"/>&nbsp;&nbsp;&nbsp; 
  <input type="button" name="task" value="Cancel" onclick="location.href='./'"/>
</form>
{% endblock %}
{% block footer %}
<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery( ".choose2 input" ).button();
    jQuery( ".events_sel input" ).button();
    jQuery("#pager").focus();
  });
</script>
{% endblock %}