{% extends "master.html" %}{% load cstags %}
{% block title %}Check In{% endblock %}
{% block content %}
<h1 class="logo">{{ h.name }} Household{% if 'LOGO'|get_config %}<img src="{{ MEDIA_URL }}{{ 'LOGO'|get_config }}" alt=""/>{% endif %}</h1>
<div class="clear"></div>
<form action="./" method="post" autocomplete="off" onsubmit="return check_form()">
  {% csrf_token %}
  {% if events.count > 1 %}
  <h2>Which events are you checking in for?</h2>
  <div class="events_sel">
  {% for e in events %}
    <input type="checkbox" id="check_e{{ forloop.counter }}"/>
    <input type="hidden" name="events" id="check_e{{ forloop.counter }}_hidden" value=""/>
    <label onclick="toggle_check('check_e{{ forloop.counter }}', '{{ e.id }}')" for="check_e{{ forloop.counter }}" id="check_e{{ forloop.counter }}_label">
      <img src="{{ MEDIA_URL }}img/unchecked.png" alt=""/> {{ e.name }}
    </label>
  {% endfor %}
  </div>
  <hr/>
  {% else %}
  <input type="hidden" name="events" value="{{ events.0.id }}"/>
  {% endif %}
  <!--<h2>Pager:</h2>
  <input type="text" name="pager" id="pager" value=""/>
  <hr/>-->
  <div class="floatR">
    <input type="button" name="addperson" id="addperson" value="Add A Person" onclick="location.href = '{% url cs_add_person h.id %}?goback={{ request.build_absolute_uri|urlencode }}'"/>
  </div>
  <div class="floatL">
    <h2>Who are you checking in?</h2>
  </div>
  <div class="clear"></div>
  <ul class="choose2 notype">
    {% for p in h.checkable %}
    <li>
      <input type="checkbox" id="check_{{ forloop.counter }}"/>
      <input type="hidden" name="peeps" id="check_{{ forloop.counter }}_hidden" value=""/>
      <label onclick="toggle_check('check_{{ forloop.counter }}', '{{ p.id }}')" for="check_{{ forloop.counter }}" id="check_{{ forloop.counter }}_label">
        <img src="{{ MEDIA_URL }}img/unchecked.png" alt=""/> {{ p.fname }} {{ p.lname }}
      </label><span class="large">&nbsp;&nbsp;&nbsp;&nbsp; 
      Extra Labels: </span><select name="{{ p.id }}_extra_labels">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select> 
      <a href="{% url cs_edit_person p.id %}?goback={{ request.build_absolute_uri|urlencode }}">Edit</a>
    </li>
    {% endfor %}
    {% for p in h.uncheckable %}
    <li>
      <h3>{{ p.fname }} {{ p.lname }} - <a href="{% url cs_edit_person p.id %}?goback={{ request.build_absolute_uri|urlencode }}">Edit</a></h3>
    </li>
    {% endfor %}
  </ul>
  <hr/>
  <input type="submit" name="task" value="Check In"/>&nbsp;&nbsp;&nbsp; 
  <input type="button" name="task" value="Cancel" onclick="location.href='./'"/>
</form>
{% endblock %}
{% block footer %}
<script type="text/javascript">
  function check_form () {
    var cnt = 0;
    $('input[name="events"]').each(function(index) {
      if (this.value != '') {
        cnt = cnt + 1;
      }
    });
    
    if (cnt > 0) {
      return true;
    }
    
    alert('Please check-in for at least one event');
    return false;  
  }
  
  jQuery(document).ready(function () {
    jQuery( ".choose2 input" ).button();
    jQuery( ".events_sel input" ).button();
  });
</script>
{% endblock %}
