{% extends "master.html" %}{% load cstags %}
{% block title %}Check In{% endblock %}
{% block header %}
{% if not print_tag %}
<script type="text/javascript">
  $.ajax({url: "http://10.74.193.235:8000/print/"});
</script>
{% endif %}
<link rel="stylesheet" href="{{ MEDIA_URL }}js/modal/css/basic.css" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/modal/js/jquery.simplemodal.js"></script>
<script type="text/javascript">
  function face_check () {
    $.modal(
      '<iframe src="{% url cs_face_check %}" height="460" width="640" scrolling="no" style="border:0; margin: 0px auto;"></iframe>', 
      {containerCss:{
        backgroundColor:"#fff",
        borderColor:"#fff",
        height:480,
        padding:0,
        width:660
      }}
    );
  }
</script>
{% endblock %}
{% block content %}
<h1 class="logo">Check In{% if 'LOGO'|get_config %}<img src="{{ MEDIA_URL }}{{ 'LOGO'|get_config }}" alt=""/>{% endif %}</h1>
<div class="clear"></div>
<form action="./" id="submit_on_accept" method="GET" autocomplete="off">
  {% if message %}<div class="message">{{ message|safe }}</div>{% endif %}
  <div class="checkin_search">
    <input type="text" name="search" id="search" value="" autocomplete="off"/>
    <input type="submit" name="task" value="Search"/><br/>
    <div class="small">Enter your first name or last name</div>
    {% if 'FACE_SEARCH_ENABLE'|get_config %}<div class="new"><input type="button" name="task" value="Face Search" onclick="face_check()"/></div>{% endif %}
    <div class="new"><h2><a href="{% url cs_add_hhold %}?goback={{ request.build_absolute_uri|urlencode }}">I'm New!</a></h2></div>
  </div>
</form>
<form action="./" id="pic_search" method="GET" autocomplete="off">
  <input type="hidden" name="pic" id="id_pic" value=""/>
  <input type="hidden" name="task" value="PicSearch"/>
</form>
{% endblock %}
{% block print %}
{% if checkins and print_tag %}
{% for ci in checkins %}
{% if not forloop.first %}<div class="break"></div>{% endif %}
{% include "checkin/checkin_label.html" %}
{% for temp in ci.extra_labels %}
<div class="break"></div>
{% include "checkin/checkin_label.html" %}
{% endfor %}
{% endfor %}
{% if code %}
{% for c in code_tags %}
<div class="break"></div>
<div class="codetag">
  <table>
    <tr>
      <td class="c"><span>{{ c }}</span></td>
      <td class="vr"><img src="{{ MEDIA_URL }}img/vr.png" alt=""/></td>
      <td class="c"><span>{{ c }}</span></td>
    </tr>
  </table>
</div>
{% endfor %}
{% endif %}
<script type="text/javascript">
  jQuery(document).ready(function () {
    window.print();
  });
</script>
{% endif %}
{% endblock %}
